<a href="https://colab.research.google.com/github/emilytadelmauro/first_repo/blob/main/day2_starter_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2 Starter Exercise
This set of exercises consolidates and refreshes the topics covered in the Foundation course.

## Strings

### String methods
Here is a quote from Monthy Python

In [ ]:
quote = "What have the Romans ever done for us?"

Use string methods to
1. uppercase (this has been done for you)
1. lowercase
1. split into a list of words

In [ ]:
# uppercase the quote
# Write your code below here
quote_upper = quote.upper()
quote_upper

'WHAT HAVE THE ROMANS EVER DONE FOR US?'

In [ ]:
# lowercase the quote
quote_lower=quote.lower()

# Write your code below here
quote.split()
sample_list=quote.split()

In [ ]:
# split the quote into a list of words
# Write your code below here
quote.split?

In [ ]:
# Convert the list of words back into a single string
list_words=quote.split()
# Write your code below here
quote_string=' '.join(sample_list)

In [ ]:
# Count the number of occurences of the letter 'e' in the quote
# Write your code below here
j=0
for i in quote_string:
  if i =='e':
    j=j+1
    print(j)
quote.count ('e')

1
2
3
4
5

5

In [ ]:
quote_string.count('e')

5

In [ ]:
# Replace all occurences of the letter 'e' with 'u' in the quote
# Write your code below here
quote.replace('e','u')

'What havu thu Romans uvur donu for us?'

### Indexing and Slicing strings
Return
1. the first character of the quote (this has been done for you)
1. the last character
1. the first five characters
1. the last five characters

In [ ]:
# Return the first character of the quote (this has been done for you)
# Write your code below here
quote_first_char = quote[0]
quote_first_char

'W'

In [ ]:
# Return the last character of the quote
# Write your code below here
last_char = quote[-1]
print(last_char)

?

In [ ]:
# Return the first five character of the quote
# Write your code below here
first_five = quote[:5]
print(first_five)

What

In [ ]:
# Return the last five character of the quote
# Write your code below here
last_five = quote[-5:]
print(last_five)

r us?

## Lists
Create a list, named packages,  with three items, all strings: 'pandas', 'seaborn' and 'scikit-learn'.  Show the list.

In [ ]:
# Write your code here

Append a string, 'requests'  to this list. Show the changed list.

In [ ]:
# Write your code here

Insert a string, 'keras" as the 2nd item of this list. Show the changed list

In [ ]:
# Write your code here

Show the first, last and penultimate items in the packages list (hint: use indexing)

In [ ]:
# Write your code here

Build a new list of the 2nd to the 4th items inclusive in the packages list (hint: use slicing)

#Using pandas to read

In [ ]:
!pip list # see all the packages installed
import pandas as pd

In [ ]:

file_url ="https://raw.githubusercontent.com/MarkWilcock/CourseDatasets/refs/heads/main/MT%20Cars/mtcars.csv"
df=pd.read_csv(file_url)
df

In [ ]:
df_merc = df[df['model'].str.contains('Merc')]
df_merc

In [ ]:
# prompt: export df_merc to an Excel spreadsheet

import pandas as pd

# Assuming df_merc is already defined as in your provided code
# ... (your existing code to create df_merc) ...

# Export the DataFrame to an Excel spreadsheet
df_merc.to_excel('df_merc.xlsx', index=False)  # Set index=False to avoid writing row indices

In [ ]:
# Assuming df_merc is already defined as in the provided code.
from google.colab import files
df_merc.to_excel('df_merc.xlsx', index=False)  # Save to the current working directory
files.download('df_merc.xlsx')
#df_merc.to_sql() # to export to sql

In [ ]:
# Write your code here

## Dicts
Create a dict, named fruit,  with three keys: 'apple', 'banana' and 'cherry' and with respective values
* 'Fruit, edible, sweet, varying colors, grown on trees'
* 'Fruit, elongated, yellow, peelable, soft, sweet'
* 'Small, round, red fruit, sweet or tart, stone inside'
Display the dict

In [ ]:
# Write your code here

Add another fruit of your choice to the dict and display the dict

In [ ]:
# Write your code here

Access a value by its key.  Find the value of the 'cherry' key

In [ ]:
# Write your code here

Remove a key value pair.  Remove 'banana' from the dictionary.  (Hint: use the pop() method)

In [ ]:
# Write your code here

Check if a key exists.  Does apple exist in fruit?

In [ ]:
# Write your code here

Iterate over the key value pairs in the dict printing out the key and the value of each pair.
Hint: use a for loop and the items() method.

In [ ]:
# Write your code here

# Conditional flow
This section covers if - elif - else and for.

Once the code cell below is run, the current_hour variable will be set to the hour of the current time. (int datatype)

In [ ]:
from datetime import datetime

current_hour = datetime.now().hour
current_hour

If current_hour is less then 12, print good morning.  If less than 17, print good afternoon.  Otherwise, print good evening.

In [ ]:
# Write your code here
if current_hour < 12:
  print('good morning')
elif current_hour < 17:
  print('good afternoon')
else:
  print('good evening')

good afternoon

Print the years between 2020 and 2030 inclusive.  Print each year on a new line.  The result should look like:  
2020  
2021  
...  
2030

In [ ]:
# Write your code here
for y in range(2020, 2031):
  print(y)

2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030

Print the leap years between 2020 and 2030 inclusive.  Print each year on a new line.

In [ ]:
# Write your code here
for y in range(2020, 2031):
  if y % 4 == 0:
    print(y)

2020
2024
2028

# Brainteaser exercise

Here is a set of blood pressure reading over the last few days.  

> '120/80', '122/79', '125/82', '129/85', '129/90', '127/88', '126/80'

These are in the format _sys_/_dia_ where:
* _sys_ is the systolic pressure - the high number before the /
* _dia_ is the diastolic pressure - the lower number after the /

Create a list (or tuple if you prefer) of these readings.  
Assign this to a varable, named bp_readings.

In [ ]:
# Write your code here
bp_readings = ['120/80', '122/79', '125/82', '129/85', '129/90', '127/88', '126/80']

Using bp_readings, create a list (or tuple if you prefer) that contains the systolic numbers. The elements should be integers.  
Assign this to a varable, named systolic.
If a list, The result should look like

> [120, 122, 125, 129, 127, 126]

In [ ]:
systolic = [int(reading.split('/') [0])for reading in bp_readings]
systolic

[120, 122, 125, 129, 129, 127, 126]

In [ ]:
diastolic = [int(reading.split('/') [1])for reading in bp_readings]
diastolic

[80, 79, 82, 85, 90, 88, 80]

#Functions

In [ ]:
def triangle_area(base, height):
  """ calculates the area of a triangle given base and height"""
  return base * height/2

In [ ]:
triangle_area(10,5)

25.0

In [ ]:
def list_average (list_of_numbers):
  """ calculates the average of a list of numbers"""
  return sum(list_of_numbers) / len(list_of_numbers)

In [ ]:
list_example = [1,2,3,4,5]
list_average(list_example)

3.0

In [ ]:
#age given date  of birth
age_given_dob = lambda dob: 2023 - dob

In [ ]:
# prompt: write a function named get_age, that takes one argument named dob, which is a date-string formatted as 'yyyy'-mm-dd' e.g. '2020-01-31' The function returns the whole number of years of between dob and the current date.

from datetime import datetime

def get_age(dob):
  """
  Calculates the whole number of years between a date of birth and the current date.

  Args:
    dob: A date string in 'yyyy-mm-dd' format.

  Returns:
    The whole number of years between the dob and the current date.
  """
  try:
    dob_date = datetime.strptime(dob, '%Y-%m-%d').date()
    today = datetime.now().date()
    age = today.year - dob_date.year - ((today.month, today.day) < (dob_date.month, dob_date.day))
    return age
  except ValueError:
    return "Invalid date format. Please use 'yyyy-mm-dd'."

In [ ]:
triangle_area?

In [ ]:
get_age('2006-07-22')

18

Do the same for the diastolic numbers.
Assign this to a varable, named diastolic.

In [ ]:
# Write your code here
diastolic = [int(bp.split('/')[1]) for bp in bp_readings]
diastolic

[80, 79, 82, 85, 90, 88, 80]

Calculate
1. the average systolic pressure reading throughout the period?
1. the smallest systolic pressure reading

In [ ]:
#  write your code here
avg_systolic = sum(systolic) / len(systolic)
avg_systolic

125.42857142857143

In [ ]:
# Write your code here




#systolic=[]
#distolic=[]

#systolic = [int(bp.split('/')[0]) for bp in bp_readings]
#systolic

[120, 122, 125, 129, 129, 127, 126]

*Optional Advanced Section*  
zip together the systolic and diastolic lists to reproduce the original bp list.  
Hint: use the zip function

In [ ]:
# write your code here

Reproduce the original bp_readings list from systolic and diastolic lists
Hint: use the zip function then a list comprehension

In [ ]:
# write your code here

Create a new list, named differences, that calculates the difference between the systolic and diastolic values for each element of thse lists.  Note that this list will have  the same number of elements as systloic and diastolic.

In [ ]:
# Write your code here

In [ ]:
# An alternative way to do this uses zip() and a list comprhension
# Write your code here